<%- include("header") -%> 

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">

        <% for(var x = 0; x < newListItems.length; x++) { %>
            <div class="item">
                <input type="checkbox" >
                <p><%= newListItems[x] %> </p>
            </div>
        <% } %>

        <form action="/" method="POST" class="item">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
        
    </div>

<%- include("footer") -%>